# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.DS_Store


.forge-snapshots/

docs/tokeneconomics-en
docs/tokeneconomics-cn

src/artifacts


# Soldeer
/dependencies

.agents
.cursor
.deploy
.secrets
.settings
.vscode
.deploy
.deps 
.gas-bench
.solhint.json
.states
artifacts
audit
broadcast
coverage
deployslog
bin
releases
script
soljson*
.deploys/
.gas-snapshot.bak
.gas-snapshot.before-phase2
aa.txt
image.png
skills-lock.json
soldeer.lock


src/libraries/L_Account.sol
src/TTSwap_Market_Private.sol
